.container{
    /* border: 1px solid white; */
    color: white;

}

::ng-deep .tooltip-inner {
    background-color: white !important;
    color: black;
    border: .5px solid grey;
  }

::ng-deep .arrow::after {
    border-top-color: white !important;
    color: white;
    border: 1px solid grey;
}

#trailer-div{
    padding-top: 3%;
    /* border: 1px solid white; */
}

#description{
    padding-top: 1%;
}

#share{
    padding-top: 1%;
}

#cast-crew{
    padding-top: 2%;
}
.card-text{
    width: 100%;
    text-align: center;
}

#cast-as{
    font-weight: bold;
}

#cast-name{
    font-weight: bold;
}


#cast-images{
    display: inline-block;
}


.card{
    margin: 0;
    color: black;
} 
/* 
#row{
    display: flex;
    overflow-x: auto;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-y: hidden;
  }
  
  #card {
    max-width: 15%;
    margin-bottom: 2rem;
    border: 0;
    flex-basis: 33.333%;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 1%;
    border-radius: 5%;
  } */

#image_row{
    /* color: black !important; */
    /* align-items: stretch; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    
    /* padding: 1%; */
    
  }

#cast-pic{
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
}
#image-card {
    /*float: left;*/
    max-width: 15.5%;
    /* padding: 1%; */
    margin-bottom: 2rem;
    border: 0;
    margin-left:1%;
    flex-basis: 16.3%;
    flex-grow: 0;
    flex-shrink: 0;
    border-radius: 5%;
    cursor: pointer;
  }

#image-card-mob {
        /*float: left;*/
        max-width: 33.33%;
        /* padding: 1%; */
        margin-bottom: 2rem;
        border: 0;
        margin-left:1%;
        flex-basis: 33.33%;
        flex-grow: 0;
        flex-shrink: 0;
        border-radius: 5%;
        cursor: pointer;
}

#review-avatar{
    padding-left: 5%;
    padding-top: 2%;
    /* border: 1px solid black; */
  }

#review-content{
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;  
    overflow: hidden;
}

#review-card{
    margin-top: 1.5%;
    border-radius: 10px;
}

#rev-stars{
    background-color: black;
    color: white;
    border-radius: 40px;
    padding: 2px;
    padding-bottom: -2px;
    height: 30px;
    width: 40px;
    text-align: center;
}

#rev-url{
    text-decoration: underline;
    color: darkblue;
}

#rev-col{
    padding-right: 7%;
    padding-top: 2%;
}

.rounded-circle{
    width: 80px;
}

#alert-box{
    width: 110%;
}

#modal-bio{
    color: black;
}

::ng-deep .modal-content{
    max-height: 700px;
    overflow-y: scroll !important;
}


/*CSS for Card-Display*/
ngb-carousel{
    outline: none !important;
    width: 100% !important;
    height: 250px !important;
}

.column{
    display: inline-block !important;
    width: 16.66% !important; 
    padding: 1%;
}

.container2{
    margin-left: 10%;
    width: 80%;
}

#movie-title{
    display: none !important;
    width: 150px;
}

.card-img-top:hover{
    transform: scale(1.1);
}

.card-img-top:hover ~ #movie-title {
    position: absolute !important;
    z-index: 1;
    display: block !important;
    color: white !important;
    font-size: 15px;
    font-weight: bold;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(0, 0, 0), rgb(0, 0, 0),rgb(0, 0, 0));
    bottom: 0px;
    padding: 2%;
    margin-left: -1%;
}

.spl-container{
    border: 1px solid white;
}

/*CSS for card-disp ends*/

::ng-deep .carousel-control-prev 
 {
  width: 10% !important;
  margin-left: 0px !important;
}

::ng-deep .carousel-control-next{
    width: 10% !important;
    margin-left: 0px !important;
}