<h1 id="card-header" *ngIf = "currently_watching"> Continue Watching</h1>
 <!--Card Deck Carousel-->
  <ngb-carousel [interval] = 0 *ngIf = "currently_watching">
    <ng-template ngbSlide *ngFor = "let outer_arr of currently_watching">
      <div class="container2">
        <div class="card-deck">
          <div class="column" *ngFor = "let inner_arr of outer_arr">
            <a [routerLink] = "['/watch',inner_arr.media_type,inner_arr.id]">
            <img class="card-img-top" [src]="inner_arr.poster_path" alt="Card image cap">
            <div id="movie-title">{{inner_arr.title}}</div>
            </a>
          </div>
      </div>
      </div>
    </ng-template>
</ngb-carousel>


<h1 id="card-header">Popular Movies</h1>
 <!--Card Deck Carousel-->
  <ngb-carousel [interval] = 0>
    <ng-template ngbSlide *ngFor = "let outer_arr of popular_movies">
      <div class="container2">
        <div class="card-deck">
          <div class="column" *ngFor = "let inner_arr of outer_arr">
            <a [routerLink] = "['/watch','movie',inner_arr.id]">
            <img class="card-img-top" [src]="inner_arr.poster_path" alt="Card image cap">
            <div id="movie-title">{{inner_arr.title}}</div>
            </a>
          </div>
      </div>
      </div>
    </ng-template>
</ngb-carousel> 


<h1 id="card-header">Top Rated Movies</h1>
 <!--Card Deck Carousel-->
  <ngb-carousel [interval] = 0>
    <ng-template ngbSlide *ngFor = "let outer_arr of top_rated_movies">
      <div class="container2">
        <div class="card-deck">
          <div class="column" *ngFor = "let inner_arr of outer_arr">
            <a [routerLink] = "['/watch','movie',inner_arr.id]">
            <img class="card-img-top" [src]="inner_arr.poster_path" alt="Card image cap">
            <div id="movie-title">{{inner_arr.title}}</div>
            </a>
          </div>
      </div>
      </div>
    </ng-template>
</ngb-carousel> 


<h1 id="card-header">Trending Movies</h1>
 <!--Card Deck Carousel-->
  <ngb-carousel [interval] = 0>
    <ng-template ngbSlide *ngFor = "let outer_arr of trending_movies">
      <div class="container2">
        <div class="card-deck">
          <div class="column" *ngFor = "let inner_arr of outer_arr">
            <a [routerLink] = "['/watch','movie',inner_arr.id]">
            <img class="card-img-top" [src]="inner_arr.poster_path" alt="Card image cap">
            <div id="movie-title">{{inner_arr.title}}</div>
            </a>
          </div>
      </div>
      </div>
    </ng-template>
</ngb-carousel> 


<h1 id="card-header">Popular TV Shows</h1>
 <!--Card Deck Carousel-->
  <ngb-carousel [interval] = 0>
    <ng-template ngbSlide *ngFor = "let outer_arr of popular_tv">
      <div class="container2">
        <div class="card-deck">
          <div class="column" *ngFor = "let inner_arr of outer_arr">
            <a [routerLink] = "['/watch','tv',inner_arr.id]">
            <img class="card-img-top" [src]="inner_arr.poster_path" alt="Card image cap">
            <div id="movie-title">{{inner_arr.title}}</div>
            </a>
          </div>
      </div>
      </div>
    </ng-template>
</ngb-carousel> 

<h1 id="card-header"> Top Rated TV Shows</h1>
 <!--Card Deck Carousel-->
  <ngb-carousel [interval] = 0>
    <ng-template ngbSlide *ngFor = "let outer_arr of top_rated_tv">
      <div class="container2">
        <div class="card-deck">
          <div class="column" *ngFor = "let inner_arr of outer_arr">
            <a [routerLink] = "['/watch','tv',inner_arr.id]">
            <img class="card-img-top" [src]="inner_arr.poster_path" alt="Card image cap">
            <div id="movie-title">{{inner_arr.title}}</div>
            </a>
          </div>
      </div>
      </div>
    </ng-template>
</ngb-carousel>


<h1 id="card-header"> Trending TV Shows</h1>
 <!--Card Deck Carousel-->
  <ngb-carousel [interval] = 0>
    <ng-template ngbSlide *ngFor = "let outer_arr of trending_tv">
      <div class="container2">
        <div class="card-deck">
          <div class="column" *ngFor = "let inner_arr of outer_arr">
            <a [routerLink] = "['/watch','tv',inner_arr.id]">
            <img class="card-img-top" [src]="inner_arr.poster_path" alt="Card image cap">
            <div id="movie-title">{{inner_arr.title}}</div>
            </a>
          </div>
      </div>
      </div>
    </ng-template>
</ngb-carousel> 