::ng-deep .carousel{
    width: 100% !important;
    height: 52vh !important;
    border: none !important;
    outline: none !important;
}

#slideshow-image{
    object-fit: cover;
    width: 100%;
    height: 100%;
}

#slideshow{
    padding: 0px;
    /* border: 1px solid white; */
    /* align-items: center; */
    width: 100%;
    height: 50vh;
    /* border: 1px solid white; */
    outline: none;
    border: none;
}

.carousel-caption{
    display: none !important;
}

#slideshow-image:hover{
    transform: scale(1.1);
}


#slideshow-image:hover + .carousel-caption{
    display: block !important;
    position: absolute !important;
    right: 0% !important;
    bottom: 0px;
    left: 0% !important;
    z-index: 10 !important;
    padding-left: 2% !important;
    padding-top: 3% !important;
    padding-bottom: 3% !important;
    color: #fff !important;
    background-image: linear-gradient(to bottom, rgba(255,0,0,0), rgb(0, 0, 0), rgb(0, 0, 0),rgb(0, 0, 0));
    /* background-color: rgba(0, 0, 0, 05);; */
    text-align: start;
}