<script defer src="../../../node_modules/@fortawesome/fontawesome-free/js/brands.js"></script>
<script defer src="../../../node_modules/@fortawesome/fontawesome-free/js/solid.js"></script>
<script defer src="../../../node_modules/@fortawesome/fontawesome-free/js/fontawesome.js"></script>
<app-navbar></app-navbar>
  <div class="container">
    <app-corousel></app-corousel>
  </div>
<app-card-disp></app-card-disp>
<button class="btn btn-primary" [routerLink] = "['/watch','movie',464052]">
    Click here!
</button>

<app-modal-demo></app-modal-demo>